ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

body {
	background-color: lightgrey;
}

.banner {
  background: url('https://cdn.discordapp.com/attachments/763876547416817695/765268969853943878/BANNER.png') no-repeat top center ;
  background-size: cover;
  background-position: 32% 48%;
  overflow: hidden;
  padding-top: 300px;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .5;
  transition: all .25s;
}

a.facebook {
  background-image: url(../img/pngwing.com.png);
}