
@font-face {
	font-family: "Cinzel";
	src: url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
}

body {
	margin: 0;
	text-align: center;
}

#nav {
	background-color: #333;
	padding: 0;
}
ul#horizontal-list {
	background-color: #333;
	list-style: none;
	padding: 10px;
	margin: auto;
}
ul#horizontal-list li {
	display: inline;
}
.table {
	display: table;
	margin: auto;
	background-color: #333;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 35px;
  text-decoration: none;
  font-family: 'Cinzel', serif;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

body {
	background-color: lightgrey;
}

p{
	max-width: 50%;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Halant', Palatino, Book Antiqua, serif;
}

h1 {
  font-family: 'Cinzel', Georgia, serif;
}

p a:link {
	color: rgb(171,152,61);
	text-decoration: none;
}

p a:visited {
	color: rgb(171,152,61);
	text-decoration: none;
}

p a:hover {
	color: dimgray;
}

.banner {
  background: url('https://cdn.discordapp.com/attachments/763876547416817695/765268969853943878/BANNER.png') no-repeat top center ;
  background-size: cover;
  background-position: 32% 48%;
  overflow: hidden;
  padding-top: 300px;
}

.lysistrata {
	max-width:50%;
    height:auto;
}

footer {
	border-top: solid #333;
	border-top-width: 1px;	
	font-family: 'Halant', serif;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .5;
  transition: all .25s;
}

a.facebook {
  background-image: url(../img/pngwing.com.png);
}

a.youtube {
  background-image: url(../img/youtubethumbnail.png);
}